PointcloudTiler.v11.suo
PointcloudTiler.v12.suo
PointcloudTiler.sdf
PointcloudTiler/bin
PointcloudTiler/obj
PointcloudTiler.opensdf
bin/
obj
build/*
.idea
*.orig
test/converted
.vs/
CMakeSettings.json
.vscode

!cmake/
cmake/*
!cmake/FindLibLAS.cmake
!cmake/HunterGate.cmake

_3rdParty/
CMakeFiles/

PointcloudTiler/Makefile
CMakeCache.txt
cmake_install.cmake